/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(193, 57%, 77%); /* Tom pastel */
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 90%;
}

h1 {
    font-size: 24px;
    color: #6d6875; /* Tom pastel escuro */
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    color: #6d6875;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d3cec4;
    border-radius: 5px;
    font-size: 14px;
}

input[type="submit"] {
    width: 100%;
    background-color: #b7b7a4; /* Tom pastel verde */
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #a5a58d; /* Tom pastel verde mais escuro */
}

.footer {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #a3a3a3;
}

.footer a {
    color: #6d6875;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    input[type="text"], input[type="email"], input[type="password"], input[type="submit"] {
        font-size: 14px;
    }
}
